---
const { title, url, description } = Astro.props;
---

<a href={url} title={title} class="group"
  ><article class="h-full flex-1 duration-200">
    <div class="w-full flex flex-col h-full justify-between text-balance">
      <p
        class="text-black uppercase font-serif text-xl font-bold group-hover:text-salmon-600"
      >
        {title}
      </p>
      <p class="text-slate-600 line-clamp-2 font-normal mt-4">
        {description}
      </p>
    </div>
  </article></a
>
