<section>
  <div class="items-center 2xl:max-w-7xl max-w-6xl md:px-12 mx-auto px-8 pt-32">
    <div class="border-b pb-5 text-balance">
      <p
        class="text-black text-center font-serif text-4xl lg:text-4xl uppercase font-semibold text-sm md:text-base"
      >
        Welcome to Specialty Coffee Madrid!
      </p>
      <br />
      <p
        class="text-black text-center font-serif text-2xl lg:text-1xl uppercase font-semibold text-sm md:text-base"
      >
        Showcasing the best specialty coffee in Madrid.
      </p>
      <br />
        <img src="./specialtycoffeemadrid.avif" />
    </div>
  </div>
</section>
