@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  --astro-code-color-text: theme("colors.black");
  --astro-code-color-background: theme("colors.wood.500");
  --astro-code-token-constant: theme("colors.red.500");
  --astro-code-token-string: theme("colors.teal.500");
  --astro-code-token-comment: theme("colors.slate.400");
  --astro-code-token-keyword: theme("colors.mist.700");
  --astro-code-token-parameter: theme("colors.red.900");
  --astro-code-token-function: theme("colors.salmon.600");
  --astro-code-token-string-expression: theme("colors.mist.500");
  --astro-code-token-punctuation: theme("colors.salmon.500");
  --astro-code-token-link: theme("colors.mist.800");
}
.prose-styles {
  @apply font-serif  prose prose-blockquote:border-l-salmon-500 prose-headings:font-sans prose-headings:text-black prose-li:marker:text-salmon-500 prose-slate;
}

a {
  color: red;
}
