<section class="bg-wood-500">
  <div class="px-8 md:px-12 max-w-6xl mx-auto 2xl:max-w-7xl items-center py-24">
    <div class="text-center lg:text-center">
      <h2 class="text-black font-serif text-4xl uppercase font-semibold">
        Follow Us On <a
        style="color: rgb(219, 167, 78);"
          href="https://www.instagram.com/speccoffeemadrid/"
          >Instagram</a
        >
      </h2>
      <p class="mt-4 text-lg text-slate-600">
        We love to chat coffee so follow us and let us know if we are missing
        your favourite coffee shop.
      </p>
    </div>
  </div>
</section>
