<section>
    <div
      class=" 2xl:max-w-7xl max-w-6xl md:px-12 mx-auto px-8 pt-32"
    >
      <div class="border-b pb-5 text-balance">
        <p class="text-black font-serif text-4xl lg:text-8xl uppercase font-semibold">
          Welcome to our blog!
        </p><p class="text-slate-600 mt-4 text-lg">
          Advice, Strategies, Insights and Stories for the success of
          companies, schools and start-ups.
        </p>

      </div>
    </div>
  </section>