<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-black font-serif text-4xl lg:text-8xl uppercase font-semibold">The Author</p>

    </div>

    <div
      class="prose-styles mx-auto mt-12"
    >

    <p>Welcome to the literary world of <strong>Phanatik</strong>! An avid storyteller with a passion for weaving narratives that captivate and inspire, Phanatik has become a beacon of creativity in the literary landscape.</p>

    <h2>Crafting Words, Creating Worlds</h2>
    <p>Phanatik believes in the transformative power of words. Through the art of storytelling, they invite readers to embark on adventures, explore uncharted territories of the mind, and connect with characters that linger in the heart.</p>

    <h2>Awards and Recognition</h2>
    <p>Phanatik's literary contributions have not gone unnoticed. Their work has garnered acclaim, receiving accolades and awards that reflect the impact it has had on readers and peers alike.</p>

    <h2>Exploring Themes and Emotions</h2>
    <p>In Phanatik's world, stories are more than narratives—they are mirrors reflecting the complexities of life. Themes of love, loss, resilience, and the triumph of the human spirit are delicately woven into the fabric of each tale.</p>

    <h2>Connect with Phanatik</h2>
    <p>Beyond the pages of their books, Phanatik enjoys connecting with readers, fellow writers, and literary enthusiasts. Join the conversation, explore the behind-the-scenes of the creative process, and stay updated on upcoming releases. Your journey into the world of Phanatik is just beginning!</p>

    </div>
  </div>
</section>
