<footer class="border-t bg-wood-500">
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-12 2xl:max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12 lg:gap-24">
      <span class="font-bold font-serif text-black lg:text-9xl text-2xl">
        Socials.
      </span>
      <nav
        class="flex-col flex justify-between gap-2 text-sm text-black md:ml-auto"
      >
        <a
          href="https://lexingtonthemes.com"
          title="link to your page"
          aria-label="your label"
          class="hover:text-salmon-600 duration-300"
          ><span class="relative z-10">Blog</span>
        </a>
      </nav>
    </div>
    <div class="flex-col flex border-t pt-12 mt-12">
      <p class="text-slate-500 text-sm font-medium">
        © 2024 Specialty Coffee Madrid.
      </p>
    </div>
  </div>
</footer>
